<div class="container">
  <div class="avatar">
    <img
      src="https://e0.pxfuel.com/wallpapers/61/978/desktop-wallpaper-cute-baby-cat-cute-cat-kitten-thumbnail.jpg"
      alt=""
    />
  </div>
  <div class="menu">
    <img
      src="https://raw.githubusercontent.com/KamalePragati1977/my-images/71c71141fb6a7dbdf9f4d0e63d703f0d9dae2c77/group-svgrepo-com.svg"
      alt="group"
    />
    <img
      src="https://raw.githubusercontent.com/KamalePragati1977/my-images/71c71141fb6a7dbdf9f4d0e63d703f0d9dae2c77/menu-dots-svgrepo-com.svg"
      alt="status"
    />
    <img
      src="https://raw.githubusercontent.com/KamalePragati1977/my-images/71c71141fb6a7dbdf9f4d0e63d703f0d9dae2c77/message-square-lines-alt-svgrepo-com.svg"
      alt="message"
    />
    <img
      src="https://raw.githubusercontent.com/KamalePragati1977/my-images/71c71141fb6a7dbdf9f4d0e63d703f0d9dae2c77/status-svgrepo-com.svg"
      alt="menu"
    />
  </div>
</div>
